.demo-table {
  width: 100%;
}

.demo-button-container {
  display: inline;
  padding-bottom: 16px;
}

.demo-button{
  margin-top: 20px;
  margin-left: 8px;
}
.search{
  margin-top: 20px;
  margin-right: 10px;
  float: right;
}
